// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;700&family=Roboto+Slab&family=Roboto:wght@300;700&display=swap');

// Variables
$max-width: 1200px;

$clr-primary: hsl(359, 89%, 50%);
$clr-secondary: hsl(216, 67%, 94%);

// One-off colors
$clr-promo-border: rgb(182, 199, 221);
$clr-team-heading: hsl(16, 92%, 55%);
$clr-footer-link: rgb(233, 185, 184);
$clr-footer-bg: hsl(0, 65%, 3%);

$clr-neutral: hsl(214, 13%, 34%);

$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 7%);

$font-body: 'Open Sans', sans-serif;
$font-heading: 'Roboto', sans-serif;
