// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto+Slab&family=Roboto:wght@300&display=swap');

// Variables
$max-width: 1200px;

$clr-primary: #f00e10;
$clr-secondary: #e7effa;
$clr-highlight: #f65b25;

$clr-neutral: #4b5562;
$clr-neutral-light: #b5c6dc;
$clr-neutral-white: #ffffff;
$clr-neutral-dark: #111111;

$font-body: 'Open Sans', sans-serif;
$font-heading: 'Roboto', sans-serif;
