// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

// Variables
$max-width: 1180px;

$c-primary: #f00e10;
$c-secondary: #e7effa;
$c-highlight: #f65b25;
$c-light: #ffffff;
$c-dark: #111111;

$font-stack: 'Lato', sans-serif;
