// Container
.container {
	max-width: $max-width;
	padding: 0 1.5rem;
	margin: auto;
	overflow: hidden;
}

// Strips
.strip-sm {
	width: 80px;
	height: 9px;
	background: $clr-primary;
}

.strip-md {
	width: 9rem;
	height: 1rem;
	background: $clr-primary;
}

// Background Colors
.bg-primary {
	background: $clr-primary;
}

.bg-secondary {
	background: $clr-secondary;
}

.bg-white {
	background: $clr-white;
}

// Text Colors
.text-primary {
	color: $clr-primary;
}

.text-secondary {
	color: $clr-secondary;
}

.text-white {
	color: $clr-white;
}

// Text Alignment
.text-center {
	text-align: center;
}

// Heading Sizes
.l-heading {
	font-size: 3rem;
}

// Buttons
.btn {
	display: inline-block;
	text-transform: uppercase;
	font-size: 0.875rem;
	letter-spacing: 2px;
	padding: 1.2rem 3.2rem;
	border: 0;
	cursor: pointer;

	&-primary {
		background: $clr-primary;
		color: $clr-white;
	}

	&-light {
		background: $clr-white;
		color: $clr-black;
	}

	&:hover {
		background: $clr-black;
		color: $clr-white;
	}
}

// Freepik Attribution
.freepik {
	&-link {
		display: inline-block;
		border-bottom: 1px solid $clr-black;

		&:hover {
			border-color: transparent;
		}
	}
}
