@import 'config';
@import 'utilities';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: $font-body;
	line-height: 1.4;
	background: $clr-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

// Header
.header {
	// Tagline
	.tagline {
		display: flex;
		align-items: center;
		padding: 3rem;

		&-subheading {
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size: 1.8rem;
			color: $clr-neutral;
			margin-top: 0.8rem;
		}

		&-heading {
			font-family: 'Roboto Slab', serif;
			font-size: 4rem;
			font-weight: 400;
			line-height: 1.2;
			margin: 1rem 0;
		}
	}

	// Promo Container
	.promo-container {
		display: grid;
		grid-gap: 0.5rem;
		grid-template-columns: repeat(4, 1fr);
		margin-top: -10rem;
	}

	// Promo Card
	.promo {
		padding: 2rem 1rem;
		background: $clr-white;
		border: 1px solid $clr-promo-border;

		&-icon {
			color: $clr-neutral;
			background: $clr-secondary;
			padding: 2rem;
			border-radius: 50%;
			margin-bottom: 2rem;
		}

		&-heading {
			font-size: 2rem;
		}
	}

	.freepik {
		margin: 1.625rem 0 3.5rem;

		&-link {
			font-style: italic;
		}
	}
}

// Blurb
.blurb {
	&-container {
		padding: 5.625rem 1.875rem;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: 3rem;
	}

	&-item {
		flex: 1;
	}

	&-heading {
		font-size: 3rem;
		line-height: 1.1;
		margin-bottom: 1rem;
	}

	&-subheading {
		font-size: 0.9rem;
		font-weight: 400;
		text-transform: uppercase;
	}

	&-desc {
		font-size: 1.2rem;
		line-height: 2;
		margin-bottom: 1.5rem;
	}
}

// Services
.services {
	margin: 10rem 0;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -22.5%;
		left: 17.5%;
		background: $clr-primary;
		width: 90px;
		height: 90px;
		border-radius: 50%;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: -17.5%;
		right: 12.5%;
		background: $clr-primary;
		width: 200px;
		height: 200px;
		border-radius: 50%;
	}

	&-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	&-content {
		background: $clr-white;
		padding: 3rem 2rem;
	}

	&-desc {
		line-height: 1.8;
		margin: 2.5rem 0;
	}

	.attribute {
		margin-bottom: 2rem;
	}

	&-img {
		background: url('../img/services.jpg') no-repeat top left/cover;
	}
}

// Values
.values {
	&-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2rem;
		padding: 4rem 0;
	}

	.value {
		border: 2px solid $clr-white;
		padding: 2rem;

		&-num {
			font-family: $font-heading;
			font-weight: 700;
		}

		&-heading {
			margin-top: 1rem;
		}

		&-text {
			line-height: 1.6;
			margin: 2rem 0;
		}

		&-btn {
			margin-top: 0.5rem;
			padding: 1.2rem 2.5rem;
			border-radius: 2px;
		}
	}
}

// Marketing
.marketing {
	background: url('../img/bg-marketing.jpg') no-repeat center center/cover;
	padding: 7.5rem 0;

	&-content {
		width: 40%;
	}

	.circle-primary {
		width: 3.25rem;
		height: 3.25rem;
		border-radius: 50%;
		background-color: $clr-primary;
		margin-bottom: 1rem;
	}

	&-heading {
		position: relative;
	}

	&-desc {
		font-size: 1.25rem;
		line-height: 2.5;
		margin: 1rem 0;
	}

	&-btn {
		margin-top: 1.5rem;
	}
}

// Team
.team {
	padding: 3.5rem 0;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 10rem;
		background-color: $clr-primary;
		top: 25%;
		left: 0;
		z-index: 0;
	}

	.container {
		position: relative;
	}

	&-heading {
		font-weight: 400;
	}

	&-members {
		margin: 2rem 0;
		padding: 2rem 1.5rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 5rem;
		z-index: 2;
	}

	.member {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		text-align: left;

		&-pic {
			width: 14.25rem;
			height: 14.25rem;
			border-radius: 50%;
		}

		&-role {
			font-family: $font-body;
			font-weight: 700;
			font-size: 1rem;
		}

		&-desc {
			font-style: italic;
			color: $clr-neutral;
			font-size: 0.875rem;
			margin: 1rem 0;
		}

		&-social {
			margin-right: 1rem;
			transition: color 0.3s ease;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				color: $clr-team-heading;
			}
		}
	}

	.attribute {
		margin-bottom: 2rem;
	}
}

// Solutions
.solutions {
	padding: 2rem 0;

	&-title {
		font-size: 3.75rem;
		width: 60%;
		margin: 1rem 0;
	}

	.strip-md {
		margin-bottom: 4rem;
	}

	.solution {
		margin: 2rem 0;
		background: $clr-secondary;
		border-left: 1.125rem solid $clr-primary;
		padding: 1.75rem 5rem 1.5rem 2.25rem;
		width: 75%;

		&-heading {
			text-transform: uppercase;
			font-size: 1.25rem;
			font-weight: 700;
			letter-spacing: 1px;
		}

		&-desc {
			line-height: 1.6;
			margin: 1.5rem 0 1rem;
		}
	}
}

// About Us Section
.about {
	&-img {
		width: 80%;
		margin-top: 4rem;
	}

	&-cols {
		display: flex;
		gap: 3rem;
		align-items: center;
		margin-top: -10rem;
		margin-bottom: 4rem;
	}

	.stats {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	}

	&-us {
		padding: 3rem 1.5rem;
	}

	&-heading {
		font-size: 3rem;
	}

	&-desc {
		line-height: 1.6;
		margin: 1rem 0;
	}

	.attribute {
		margin-bottom: 1.5rem;

		&-link {
			font-style: normal;
			transition: 0;

			&:hover {
				color: inherit;
				border: 0;
			}
		}
	}

	.stat {
		width: 16.5rem;
		height: 16.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1rem;

		&-type {
			font-family: 'Montserrat', sans-serif;
			font-size: 1.25rem;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin: 1rem 0 0.5rem;
		}

		&-num {
			font-weight: 700;
			font-size: 3.75rem;
		}
	}
}

// Contact Section
.contact {
	&-card {
		width: 90%;
		margin: 4rem auto;
		padding: 4rem 3rem;
		box-shadow: 0 1rem 30px hsla(0, 0%, 0%, 0.3);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		justify-content: center;
	}

	&-heading {
		font-size: 1.875rem;
		font-weight: 700;
	}

	&-list {
		margin: 1rem 0;
		line-height: 1.7;
	}

	&-item {
		margin: 1rem 0;
	}

	&-icon {
		color: $clr-primary;
		margin-right: 0.3125rem;
	}

	&-link {
		font-size: 1.25rem;

		&:hover {
			color: $clr-primary;
		}
	}

	.sns {
		&-list {
			display: flex;
			align-items: center;
			font-size: 1.75rem;
			gap: 1.5rem;
			margin-top: 3rem;
		}
	}

	&-form {
		.form-input {
			display: block;
			width: 100%;
			padding: 1rem 0.5rem;
			border: 0;
			border-bottom: 2px solid hsl(0, 0%, 0%);
		}

		.form-input::placeholder {
			font-family: $font-body;
			font-size: 1rem;
		}

		.form-textarea {
			height: 9rem;
		}

		.form-btn {
			display: block;
			width: 100%;
			margin-top: 1rem;
		}
	}
}

// Footer
.footer {
	background-color: $clr-footer-bg;
	padding: 3rem 0;
	font-size: 0.875rem;

	.attribute {
		margin-top: 4rem;
	}

	&-link {
		text-decoration: underline;
		color: $clr-footer-link;
	}
}

@import 'media';
