@import 'config';
@import 'utilities';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: $font-body;
	line-height: 1.4;
	background: $clr-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
}

// Header
.header {
	// Tagline
	.tagline {
		display: flex;
		align-items: center;
		padding: 3rem;

		&-subheading {
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size: 1.8rem;
			color: $clr-neutral;
			margin-top: 0.8rem;
		}

		&-heading {
			font-family: 'Roboto Slab', serif;
			font-size: 4rem;
			font-weight: 400;
			line-height: 1.2;
			margin: 1rem 0;
		}
	}

	// Promo Grid
	.promo-grid {
		display: grid;
		grid-gap: 0.5rem;
		grid-template-columns: repeat(4, 1fr);
		margin-top: -10rem;
	}

	// Promo Card
	.promo {
		padding: 2rem 1rem;
		background: $clr-neutral-white;
		border: 1px solid $clr-neutral-light;

		&-icon {
			color: $clr-neutral;
			background: $clr-secondary;
			padding: 2rem;
			border-radius: 50%;
			margin-bottom: 2rem;
		}

		&-heading {
			font-size: 2rem;
		}
	}

	// Attribute
	.attribute {
		margin: 2rem 0 3.5rem;

		&-link {
			display: inline-block;
			border-bottom: 1px solid $clr-neutral-dark;
			font-style: italic;

			&:hover {
				border-bottom: 1px solid $clr-neutral;
			}
		}
	}
}

// Blurb
.blurb {
	&-grid {
		padding: 5rem 2rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 3rem;
	}

	&-heading {
		font-size: 3rem;
		line-height: 1.1;
		margin-bottom: 1rem;
	}

	&-subheading {
		font-size: 0.9rem;
		font-weight: 400;
		text-transform: uppercase;
	}

	&-desc {
		font-size: 1.2rem;
		line-height: 2;
		margin-bottom: 1.5rem;
	}
}

@import 'media';
